<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_fu_farm_01.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,987}</string>
                <key>spriteSourceSize</key>
                <string>{911,987}</string>
                <key>textureRect</key>
                <string>{{1,1},{911,987}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_fu_farm_02.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,987}</string>
                <key>spriteSourceSize</key>
                <string>{911,987}</string>
                <key>textureRect</key>
                <string>{{1,990},{911,987}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_fu_farm_03.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,987}</string>
                <key>spriteSourceSize</key>
                <string>{911,987}</string>
                <key>textureRect</key>
                <string>{{914,1},{911,987}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_fu_farm_04.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{911,987}</string>
                <key>spriteSourceSize</key>
                <string>{911,987}</string>
                <key>textureRect</key>
                <string>{{914,990},{911,987}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paytable_0-xhdpi.jpg</string>
            <key>size</key>
            <string>{1826,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36c7d09db7407a6595b5809152bfd36c:e1ef0771ac811dba407c280ad4a0ec6d:5d3ae3c1856c1bdcf3f8de23d136e9b1$</string>
            <key>textureFileName</key>
            <string>paytable_0-xhdpi.jpg</string>
        </dict>
    </dict>
</plist>
