<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paytable_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{1020,616}</string>
                <key>spriteSourceSize</key>
                <string>{1024,616}</string>
                <key>textureRect</key>
                <string>{{1,1},{1020,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{1020,616}</string>
                <key>spriteSourceSize</key>
                <string>{1024,616}</string>
                <key>textureRect</key>
                <string>{{1023,1},{1020,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{1020,616}</string>
                <key>spriteSourceSize</key>
                <string>{1024,616}</string>
                <key>textureRect</key>
                <string>{{1,619},{1020,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paytable_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{1020,616}</string>
                <key>spriteSourceSize</key>
                <string>{1024,616}</string>
                <key>textureRect</key>
                <string>{{1023,619},{1020,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paytable_0-xhdpi.png</string>
            <key>size</key>
            <string>{2044,1236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb873bf1c2109b301f06f48f914df401:e6acbce85928b417d5a07d3303642113:67129311b8946b22be7d22a24355352f$</string>
            <key>textureFileName</key>
            <string>paytable_0-xhdpi.png</string>
        </dict>
    </dict>
</plist>
