<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_wallet_base_coins_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,185}</string>
                <key>spriteSourceSize</key>
                <string>{294,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_base_coins_in_blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,185}</string>
                <key>spriteSourceSize</key>
                <string>{294,185}</string>
                <key>textureRect</key>
                <string>{{297,1},{294,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_wallet_base_coins_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,185}</string>
                <key>spriteSourceSize</key>
                <string>{294,185}</string>
                <key>textureRect</key>
                <string>{{1,188},{294,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_base_first.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,185}</string>
                <key>spriteSourceSize</key>
                <string>{294,185}</string>
                <key>textureRect</key>
                <string>{{297,297},{294,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_wallet_button_coinsin_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{1,375},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsin_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{132,375},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsin_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{1,410},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsin_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{132,410},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsout_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{1,445},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsout_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{132,445},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsout_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{1,480},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsout_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{132,480},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_takeall_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{1,515},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_takeall_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{132,515},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_takeall_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{1,550},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_takeall_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{132,550},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wallet-ldpi.png</string>
            <key>size</key>
            <string>{483,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61267cfa9aee784e273fff4afe1c14f8:0e2189a14577e49a7d0a47917eb9fe2c:5eab1151a5cb7d546ad3525bff55d900$</string>
            <key>textureFileName</key>
            <string>wallet-ldpi.png</string>
        </dict>
    </dict>
</plist>
