<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_wallet_base_coins_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,369}</string>
                <key>spriteSourceSize</key>
                <string>{588,369}</string>
                <key>textureRect</key>
                <string>{{1,1},{588,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_base_coins_in_blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,369}</string>
                <key>spriteSourceSize</key>
                <string>{588,369}</string>
                <key>textureRect</key>
                <string>{{1,1},{588,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_base_coins_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,369}</string>
                <key>spriteSourceSize</key>
                <string>{588,369}</string>
                <key>textureRect</key>
                <string>{{1,372},{588,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_base_first.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,369}</string>
                <key>spriteSourceSize</key>
                <string>{588,369}</string>
                <key>textureRect</key>
                <string>{{591,1},{588,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_wallet_button_coinsin_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{1,743},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsin_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{591,591},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsin_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{1,811},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsin_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{261,743},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsout_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{591,659},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsout_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{1,879},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsout_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{261,811},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_coinsout_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{261,879},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_takeall_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{591,727},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_takeall_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{851,591},{258,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_wallet_button_takeall_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{521,795},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_wallet_button_takeall_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,66}</string>
                <key>spriteSourceSize</key>
                <string>{258,66}</string>
                <key>textureRect</key>
                <string>{{521,863},{258,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wallet-xhdpi.png</string>
            <key>size</key>
            <string>{961,961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f104064dea5d16d39eca6e2e18496420:7bec376c2a8f4ff923cd9bdfc90b1843:5eab1151a5cb7d546ad3525bff55d900$</string>
            <key>textureFileName</key>
            <string>wallet-xhdpi.png</string>
        </dict>
    </dict>
</plist>
