<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{176,200}</string>
                <key>textureRect</key>
                <string>{{270,201},{152,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_1-9_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{176,200}</string>
                <key>textureRect</key>
                <string>{{563,1},{176,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_10-90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{152,164}</string>
                <key>spriteSourceSize</key>
                <string>{176,200}</string>
                <key>textureRect</key>
                <string>{{424,195},{152,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_10-90_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{176,192}</string>
                <key>spriteSourceSize</key>
                <string>{176,200}</string>
                <key>textureRect</key>
                <string>{{385,1},{176,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_100-1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{152,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,200}</string>
                <key>textureRect</key>
                <string>{{578,193},{152,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_100-1000_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{176,198}</string>
                <key>spriteSourceSize</key>
                <string>{176,200}</string>
                <key>textureRect</key>
                <string>{{178,1},{176,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishing_season_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,175}</string>
                <key>spriteSourceSize</key>
                <string>{330,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>infoButton/press_here.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{87,25}</string>
                <key>spriteSourceSize</key>
                <string>{119,27}</string>
                <key>textureRect</key>
                <string>{{756,193},{87,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{67,32}</string>
                <key>textureRect</key>
                <string>{{1,333},{67,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_high.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,27}</string>
                <key>spriteSourceSize</key>
                <string>{198,27}</string>
                <key>textureRect</key>
                <string>{{70,333},{198,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip_low.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,27}</string>
                <key>spriteSourceSize</key>
                <string>{198,27}</string>
                <key>textureRect</key>
                <string>{{356,1},{198,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip_popup_autofire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,43}</string>
                <key>spriteSourceSize</key>
                <string>{124,43}</string>
                <key>textureRect</key>
                <string>{{756,220},{124,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip_popup_autofire_mobile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,43}</string>
                <key>spriteSourceSize</key>
                <string>{124,43}</string>
                <key>textureRect</key>
                <string>{{801,220},{124,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip_popup_cartridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,88}</string>
                <key>spriteSourceSize</key>
                <string>{119,88}</string>
                <key>textureRect</key>
                <string>{{178,201},{119,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip_popup_target_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,33}</string>
                <key>spriteSourceSize</key>
                <string>{190,33}</string>
                <key>textureRect</key>
                <string>{{741,1},{190,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip_popup_target_lock_mobile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,33}</string>
                <key>spriteSourceSize</key>
                <string>{190,33}</string>
                <key>textureRect</key>
                <string>{{776,1},{190,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>selectionScene-ldpi.png</string>
            <key>size</key>
            <string>{845,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a387e03b3ed70a3ac6fc74809bf2115a:4d5921fc2454e323a35c243e06f9c920:8733f7dace7b0b5be7b8a9c26d21b651$</string>
            <key>textureFileName</key>
            <string>selectionScene-ldpi.png</string>
        </dict>
    </dict>
</plist>
