<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_idle_20/20_dragon_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,27}</string>
                <key>spriteSize</key>
                <string>{450,480}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,24}</string>
                <key>spriteSize</key>
                <string>{454,470}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{453,1},{454,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,24}</string>
                <key>spriteSize</key>
                <string>{466,456}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{909,1},{466,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,31}</string>
                <key>spriteSize</key>
                <string>{498,452}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1377,1},{498,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,30}</string>
                <key>spriteSize</key>
                <string>{548,434}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1,483},{548,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{578,404}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{551,483},{578,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-81}</string>
                <key>spriteSize</key>
                <string>{546,390}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1131,483},{546,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-117}</string>
                <key>spriteSize</key>
                <string>{460,374}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1,919},{460,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-118}</string>
                <key>spriteSize</key>
                <string>{368,366}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{463,919},{368,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,-117}</string>
                <key>spriteSize</key>
                <string>{342,346}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{833,919},{342,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,-114}</string>
                <key>spriteSize</key>
                <string>{350,326}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1177,919},{350,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-112}</string>
                <key>spriteSize</key>
                <string>{358,304}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1529,919},{358,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-114}</string>
                <key>spriteSize</key>
                <string>{364,288}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1,1295},{364,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-117}</string>
                <key>spriteSize</key>
                <string>{372,294}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{367,1295},{372,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-116}</string>
                <key>spriteSize</key>
                <string>{378,320}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{741,1295},{378,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-84}</string>
                <key>spriteSize</key>
                <string>{430,346}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1121,1295},{430,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_4_0-xhdpi.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1593fdcf73906e562dc4f218b1496cb8:d0ce15d317b762a93c8ad993d78cdfc1:b787f98143b1e2cf9f0fd981db7ed9eb$</string>
            <key>textureFileName</key>
            <string>asset_4_0-xhdpi.png</string>
        </dict>
    </dict>
</plist>
