<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish/fish_bonus_19/cow_shooted_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{203,687},{112,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{216,231},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{216,345},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{216,459},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{1,117},{114,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{1,233},{114,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{114,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{1,349},{114,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{114,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{1,465},{114,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{219,573},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{317,687},{112,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{218,1},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{110,1},{112,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{108,231},{112,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{1,581},{112,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{108,117},{112,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{428,457},{110,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{753,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{644,219},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{647,439},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{647,1},{94,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{753,111},{94,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{432,1},{94,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{94,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{432,97},{94,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{94,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{857,115},{94,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{753,401},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{851,409},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{103,695},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{753,207},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{753,305},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{853,313},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{753,499},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{851,507},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{853,215},{96,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{1,695},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{649,547},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{108,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{649,97},{108,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{110,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{647,679},{110,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{108,345},{112,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{108,459},{112,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,128}</string>
                <key>textureRect</key>
                <string>{{111,573},{112,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{323,343},{112,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{323,457},{112,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{326,571},{112,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{218,115},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{323,229},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{533,343},{110,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{431,569},{110,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{535,1},{108,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_19/19_cow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{535,110},{108,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_19/19_cow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{535,219},{108,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{431,681},{110,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{642,329},{108,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{538,455},{110,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{540,567},{110,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{110,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{540,679},{110,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{325,1},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{325,115},{112,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{428,343},{112,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{430,229},{112,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{863,1},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{863,58},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{753,597},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{814,605},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{753,654},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{875,605},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{753,711},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{810,711},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{867,662},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{867,719},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_3-ldpi.png</string>
            <key>size</key>
            <string>{952,793}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bd8bdc3b6054b711858cd445d52b624:f4c8dc2a4cf12bdd116b7758d73c4ccc:eeab8125171e70aae73968bd4bbce690$</string>
            <key>textureFileName</key>
            <string>asset_3-ldpi.png</string>
        </dict>
    </dict>
</plist>
