<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jpg/0000.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,320}</string>
                <key>spriteSourceSize</key>
                <string>{568,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{568,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jpg/loader.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,320}</string>
                <key>spriteSourceSize</key>
                <string>{568,320}</string>
                <key>textureRect</key>
                <string>{{571,1},{568,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jpg/lobby_page.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,320}</string>
                <key>spriteSourceSize</key>
                <string>{568,320}</string>
                <key>textureRect</key>
                <string>{{1,323},{568,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGB888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_9_0-ldpi.jpg</string>
            <key>size</key>
            <string>{892,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc37b241a4ff36b8f992ba4ea9c4eb36:0f33998e8e0256b032c305c328f5f550:c7024db4427bb5f288be448d5e844229$</string>
            <key>textureFileName</key>
            <string>asset_9_0-ldpi.jpg</string>
        </dict>
    </dict>
</plist>
