<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonusCoins/bonus_coin_game_panel_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,33}</string>
                <key>spriteSourceSize</key>
                <string>{114,33}</string>
                <key>textureRect</key>
                <string>{{679,427},{114,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/bonus_coin_game_panel_with_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,33}</string>
                <key>spriteSourceSize</key>
                <string>{114,33}</string>
                <key>textureRect</key>
                <string>{{795,427},{114,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/bonus_coin_loading_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,45}</string>
                <key>spriteSourceSize</key>
                <string>{148,45}</string>
                <key>textureRect</key>
                <string>{{632,313},{148,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusCoins/m_menu_button_bns_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,110}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{883,762},{115,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_bns_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,110}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{748,803},{115,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_bns_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,110}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{865,874},{115,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_real_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{594,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_real_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{594,105},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_real_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{594,209},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_error_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,464}</string>
                <key>spriteSourceSize</key>
                <string>{591,464}</string>
                <key>textureRect</key>
                <string>{{1,1},{591,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_error_button_ok_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,71}</string>
                <key>spriteSourceSize</key>
                <string>{266,71}</string>
                <key>textureRect</key>
                <string>{{968,90},{266,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_error_button_ok_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,71}</string>
                <key>spriteSourceSize</key>
                <string>{266,71}</string>
                <key>textureRect</key>
                <string>{{968,358},{266,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_error_button_ok_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,71}</string>
                <key>spriteSourceSize</key>
                <string>{266,71}</string>
                <key>textureRect</key>
                <string>{{699,462},{266,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_error_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{130,133}</string>
                <key>spriteSourceSize</key>
                <string>{134,151}</string>
                <key>textureRect</key>
                <string>{{748,671},{130,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_insufficient_balance_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,151}</string>
                <key>spriteSourceSize</key>
                <string>{134,151}</string>
                <key>textureRect</key>
                <string>{{748,535},{134,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_limit_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,329}</string>
                <key>spriteSourceSize</key>
                <string>{591,329}</string>
                <key>textureRect</key>
                <string>{{368,467},{591,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_limit_button_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{968,1},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_limit_button_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{748,915},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,365}</string>
                <key>spriteSourceSize</key>
                <string>{591,365}</string>
                <key>textureRect</key>
                <string>{{1,467},{591,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_sound_button_no_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,69}</string>
                <key>spriteSourceSize</key>
                <string>{267,69}</string>
                <key>textureRect</key>
                <string>{{699,1},{267,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_no_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,69}</string>
                <key>spriteSourceSize</key>
                <string>{267,69}</string>
                <key>textureRect</key>
                <string>{{699,72},{267,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_no_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,69}</string>
                <key>spriteSourceSize</key>
                <string>{267,69}</string>
                <key>textureRect</key>
                <string>{{699,143},{267,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_yes_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,69}</string>
                <key>spriteSourceSize</key>
                <string>{267,69}</string>
                <key>textureRect</key>
                <string>{{699,214},{267,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_yes_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,69}</string>
                <key>spriteSourceSize</key>
                <string>{267,69}</string>
                <key>textureRect</key>
                <string>{{699,285},{267,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_yes_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,69}</string>
                <key>spriteSourceSize</key>
                <string>{267,69}</string>
                <key>textureRect</key>
                <string>{{699,356},{267,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_check_box_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{594,383},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_check_box_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{594,313},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,151}</string>
                <key>spriteSourceSize</key>
                <string>{134,151}</string>
                <key>textureRect</key>
                <string>{{901,626},{134,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/help_screen_button_check_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{594,427},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/help_screen_button_check_box_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{722,1027},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/help_screen_button_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{901,535},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_button_plus_minus_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{1000,762},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/wallet_button_plus_minus_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{1000,808},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/wallet_button_plus_minus_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{1000,854},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/wallet_button_plus_minus_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{748,1010},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_check_box_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{911,427},{24,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/wallet_check_box_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{934,427},{24,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_check_box_on_arrow_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{594,348},{34,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_check_box_on_arrow_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{699,1027},{24,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/wallet_lobby_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{490,47}</string>
                <key>spriteSourceSize</key>
                <string>{498,49}</string>
                <key>textureRect</key>
                <string>{{699,535},{490,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_6-xhdpi.png</string>
            <key>size</key>
            <string>{1059,1059}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d72851b7d6986c6ec3dc3109c0cd54:c908e682957494b23b1cf9a16ae491c3:a3a84f4f6d360a765178adfae255a4b5$</string>
            <key>textureFileName</key>
            <string>asset_6-xhdpi.png</string>
        </dict>
    </dict>
</plist>
