<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading/animation-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{592,314},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,17}</string>
                <key>spriteSourceSize</key>
                <string>{392,17}</string>
                <key>textureRect</key>
                <string>{{592,276},{392,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading/bar_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,17}</string>
                <key>spriteSourceSize</key>
                <string>{392,17}</string>
                <key>textureRect</key>
                <string>{{592,295},{392,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading/coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{642,314},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading/loading_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,16}</string>
                <key>spriteSourceSize</key>
                <string>{78,16}</string>
                <key>textureRect</key>
                <string>{{1004,276},{74,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading/loading_screen_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{589,371}</string>
                <key>spriteSourceSize</key>
                <string>{591,429}</string>
                <key>textureRect</key>
                <string>{{1,1},{589,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading/loading_zh-cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,16}</string>
                <key>spriteSourceSize</key>
                <string>{78,16}</string>
                <key>textureRect</key>
                <string>{{986,276},{78,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading/lobby_page_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{431,273}</string>
                <key>spriteSourceSize</key>
                <string>{479,277}</string>
                <key>textureRect</key>
                <string>{{592,1},{431,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_10-xhdpi-CN.png</string>
            <key>size</key>
            <string>{1024,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e519add18bae7aa70dd45e912e26d309:16c57b164eb4807a8841f2a56d8256b2:d8336756ff56082391180d63a52b9c77$</string>
            <key>textureFileName</key>
            <string>asset_10-xhdpi-CN.png</string>
        </dict>
    </dict>
</plist>
