<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonusCoins/bonus_coin_game_panel_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,17}</string>
                <key>spriteSourceSize</key>
                <string>{57,17}</string>
                <key>textureRect</key>
                <string>{{504,77},{57,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusCoins/bonus_coin_game_panel_with_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,17}</string>
                <key>spriteSourceSize</key>
                <string>{57,17}</string>
                <key>textureRect</key>
                <string>{{513,350},{57,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusCoins/bonus_coin_loading_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,23}</string>
                <key>spriteSourceSize</key>
                <string>{74,23}</string>
                <key>textureRect</key>
                <string>{{504,1},{74,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusCoins/m_menu_button_bns_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{367,411},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_bns_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{296,478},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_bns_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{427,419},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_real_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{137,484},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_real_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{190,484},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusCoins/m_menu_button_real_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{243,484},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_error_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,232}</string>
                <key>spriteSourceSize</key>
                <string>{296,232}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_error_button_ok_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{299,299},{133,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_error_button_ok_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{466,1},{133,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_error_button_ok_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,36}</string>
                <key>spriteSourceSize</key>
                <string>{133,36}</string>
                <key>textureRect</key>
                <string>{{1,447},{133,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_error_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{299,411},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_insufficient_balance_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{466,272},{67,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_limit_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,165}</string>
                <key>spriteSourceSize</key>
                <string>{296,165}</string>
                <key>textureRect</key>
                <string>{{299,1},{296,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_limit_button_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{356,478},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_limit_button_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{487,419},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,183}</string>
                <key>spriteSourceSize</key>
                <string>{296,183}</string>
                <key>textureRect</key>
                <string>{{1,235},{296,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_no_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,35}</string>
                <key>textureRect</key>
                <string>{{466,136},{134,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_sound_button_no_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,35}</string>
                <key>textureRect</key>
                <string>{{503,136},{134,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_sound_button_no_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,35}</string>
                <key>textureRect</key>
                <string>{{299,337},{134,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_yes_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,35}</string>
                <key>textureRect</key>
                <string>{{299,374},{134,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_yes_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,35}</string>
                <key>textureRect</key>
                <string>{{1,485},{134,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_button_yes_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,35}</string>
                <key>textureRect</key>
                <string>{{136,447},{134,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_check_box_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,15}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{523,77},{17,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/dialog_sound_check_box_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{427,476},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/dialog_sound_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{435,350},{67,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/help_screen_button_check_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{403,493},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/help_screen_button_check_box_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{272,468},{14,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/help_screen_button_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{434,299},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_button_plus_minus_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{250,420},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_button_plus_minus_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{274,420},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/wallet_button_plus_minus_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{274,444},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialogs/wallet_button_plus_minus_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{403,468},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_check_box_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{1,522},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_check_box_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{523,96},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_check_box_on_arrow_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{446,476},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_check_box_on_arrow_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{465,476},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialogs/wallet_lobby_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,25}</string>
                <key>spriteSourceSize</key>
                <string>{249,25}</string>
                <key>textureRect</key>
                <string>{{1,420},{247,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_6-ldpi.png</string>
            <key>size</key>
            <string>{539,539}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d72851b7d6986c6ec3dc3109c0cd54:c908e682957494b23b1cf9a16ae491c3:a3a84f4f6d360a765178adfae255a4b5$</string>
            <key>textureFileName</key>
            <string>asset_6-ldpi.png</string>
        </dict>
    </dict>
</plist>
