<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_idle_20/20_dragon_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,14}</string>
                <key>spriteSize</key>
                <string>{226,242}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,12}</string>
                <key>spriteSize</key>
                <string>{228,236}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{229,1},{228,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{234,228}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{459,1},{234,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,15}</string>
                <key>spriteSize</key>
                <string>{250,226}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{695,1},{250,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{276,218}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{1,245},{276,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{290,202}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{279,245},{290,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-40}</string>
                <key>spriteSize</key>
                <string>{274,196}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{571,245},{274,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-58}</string>
                <key>spriteSize</key>
                <string>{230,188}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{1,465},{230,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-59}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{233,465},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-58}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{419,465},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-57}</string>
                <key>spriteSize</key>
                <string>{176,164}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{593,465},{176,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-56}</string>
                <key>spriteSize</key>
                <string>{180,152}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{771,465},{180,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-57}</string>
                <key>spriteSize</key>
                <string>{182,144}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{1,655},{182,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-58}</string>
                <key>spriteSize</key>
                <string>{186,148}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{185,655},{186,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-58}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{373,655},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-42}</string>
                <key>spriteSize</key>
                <string>{216,174}</string>
                <key>spriteSourceSize</key>
                <string>{322,322}</string>
                <key>textureRect</key>
                <string>{{565,655},{216,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_4_0-ldpi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1593fdcf73906e562dc4f218b1496cb8:d0ce15d317b762a93c8ad993d78cdfc1:b787f98143b1e2cf9f0fd981db7ed9eb$</string>
            <key>textureFileName</key>
            <string>asset_4_0-ldpi.png</string>
        </dict>
    </dict>
</plist>
