<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttons/back_button/back_Over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{571,417},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/back_button/back_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{623,413},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/back_button/back_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{462,525},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/back_button/back_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{462,577},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/history/history_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{333,636},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/history/history_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{462,475},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/history/history_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{675,499},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/history/history_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{670,549},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/info_button/info_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{514,518},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/info_button/info_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{514,570},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/info_button/info_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{566,518},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/info_button/info_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{566,570},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/lobby_button/lobby_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{647,339},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/lobby_button/lobby_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{462,629},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/lobby_button/lobby_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{514,622},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/lobby_button/lobby_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{566,622},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/money_buttons/money_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{459,681},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/money_buttons/money_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{514,674},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/money_buttons/money_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{566,674},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/money_buttons/money_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{675,395},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/off/sound_off_0001_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{675,447},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/off/sound_off_0002_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{512,476},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/off/sound_off_0003_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{623,465},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/off/sound_off_0004_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{618,517},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/on/sound_on_0001_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{618,569},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/on/sound_on_0002_Pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{554,476},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/on/sound_on_0003_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{670,599},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/on/sound_on_0004_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{618,621},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/wallet_buttons/Btn_DOWN_CLOSE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{592,358},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/wallet_buttons/Btn_NORMAL_CLOSE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{533,358},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/wallet_buttons/Btn_OVER_CLOSE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{512,417},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/wallet_buttons/buttons wide/wallet_button_coinsin_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{690,1},{129,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/wallet_buttons/buttons wide/wallet_button_coinsin_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{226,505},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/wallet_buttons/buttons wide/wallet_button_coinsin_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{1,703},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/wallet_buttons/buttons wide/wallet_button_coinsin_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{226,540},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/wallet_buttons/buttons wide/wallet_button_takeall_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{226,575},{129,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttons/wallet_buttons/buttons wide/wallet_button_takeall_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{357,505},{129,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/wallet_buttons/buttons wide/wallet_button_takeall_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{392,505},{129,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttons/wallet_buttons/buttons wide/wallet_button_takeall_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,33}</string>
                <key>spriteSourceSize</key>
                <string>{129,33}</string>
                <key>textureRect</key>
                <string>{{427,505},{129,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deposit_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,138}</string>
                <key>spriteSourceSize</key>
                <string>{272,138}</string>
                <key>textureRect</key>
                <string>{{416,1},{272,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/autofire_counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{699,364},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/autoplay_base_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,277}</string>
                <key>spriteSourceSize</key>
                <string>{277,277}</string>
                <key>textureRect</key>
                <string>{{1,226},{277,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/autoplay_base_rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,223}</string>
                <key>spriteSourceSize</key>
                <string>{415,225}</string>
                <key>textureRect</key>
                <string>{{1,1},{413,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_cancel_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{280,226},{181,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/button_cancel_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{416,141},{181,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_cancel_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{1,607},{181,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_cancel_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{328,226},{181,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/button_confirm_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,46}</string>
                <key>spriteSourceSize</key>
                <string>{167,46}</string>
                <key>textureRect</key>
                <string>{{520,189},{167,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/button_confirm_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,46}</string>
                <key>spriteSourceSize</key>
                <string>{167,46}</string>
                <key>textureRect</key>
                <string>{{568,189},{167,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/button_confirm_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,46}</string>
                <key>spriteSourceSize</key>
                <string>{167,46}</string>
                <key>textureRect</key>
                <string>{{280,409},{167,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_confirm_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,46}</string>
                <key>spriteSourceSize</key>
                <string>{167,46}</string>
                <key>textureRect</key>
                <string>{{280,457},{167,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_minus_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{132,703},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_minus_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{699,331},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_minus_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{670,649},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_minus_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{670,682},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_more_limits_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{103,21}</string>
                <key>spriteSourceSize</key>
                <string>{119,35}</string>
                <key>textureRect</key>
                <string>{{184,607},{103,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/button_more_limits_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{107,25}</string>
                <key>spriteSourceSize</key>
                <string>{119,35}</string>
                <key>textureRect</key>
                <string>{{424,372},{107,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_more_limits_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{103,21}</string>
                <key>spriteSourceSize</key>
                <string>{119,35}</string>
                <key>textureRect</key>
                <string>{{599,141},{103,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_more_limits_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{99,21}</string>
                <key>spriteSourceSize</key>
                <string>{119,35}</string>
                <key>textureRect</key>
                <string>{{599,164},{99,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_ok_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{1,655},{181,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_ok_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{376,226},{181,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/button_ok_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{424,189},{181,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/button_ok_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,46}</string>
                <key>spriteSourceSize</key>
                <string>{181,46}</string>
                <key>textureRect</key>
                <string>{{472,189},{181,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/button_plus_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{703,649},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_plus_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{703,682},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_plus_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{366,699},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/button_plus_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{399,699},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/game_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{223,100}</string>
                <key>spriteSourceSize</key>
                <string>{225,110}</string>
                <key>textureRect</key>
                <string>{{1,505},{223,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>regulations/toggle_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{720,549},{34,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>regulations/toggle_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,18}</string>
                <key>spriteSourceSize</key>
                <string>{34,18}</string>
                <key>textureRect</key>
                <string>{{720,585},{34,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/arrow-left-disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{449,399},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/arrow-left-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{207,610},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/arrow-left-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{270,610},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/arrow-left-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{679,187},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/arrow-right-disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{616,187},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/arrow-right-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{616,263},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/arrow-right-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{383,636},{61,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/arrow-right-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{59,70}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{679,259},{59,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/back-to-game-disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{207,686},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/back-to-game-hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{260,686},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/back-to-game-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{313,686},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/back-to-game-pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{618,673},{50,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/paytable_ui_dot_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{512,399},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/paytable_ui_dot_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{333,610},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_7-ldpi.png</string>
            <key>size</key>
            <string>{739,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d10d9e1395a8ed79e6d9d707421dc22:c482f8fc34aa9136821d5446927243a0:6d83ecd8afa08554eb1b0b95edf224b3$</string>
            <key>textureFileName</key>
            <string>asset_7-ldpi.png</string>
        </dict>
    </dict>
</plist>
