<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ammo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,38}</string>
                <key>spriteSourceSize</key>
                <string>{14,38}</string>
                <key>textureRect</key>
                <string>{{1635,81},{14,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back/fade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1365,266},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back/pile_full_1.5x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,164}</string>
                <key>spriteSourceSize</key>
                <string>{36,164}</string>
                <key>textureRect</key>
                <string>{{1325,137},{36,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet/bullet_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{61,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,111}</string>
                <key>textureRect</key>
                <string>{{1049,215},{61,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet/bullet_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{93,111}</string>
                <key>textureRect</key>
                <string>{{1365,175},{89,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet/bullet_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,111}</string>
                <key>spriteSourceSize</key>
                <string>{93,111}</string>
                <key>textureRect</key>
                <string>{{1252,175},{93,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet/explosion_1/explosion_1_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{70,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1462,191},{70,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet/explosion_1/explosion_1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1144,175},{100,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet/explosion_1/explosion_1_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1773,135},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_1/explosion_1_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{136,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1635,121},{136,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_1/explosion_1_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{156,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{891,105},{156,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_2/explosion_2_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1049,105},{108,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet/explosion_2/explosion_2_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1491,81},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_2/explosion_2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{150,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1693,1},{150,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_2/explosion_2_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{164,134}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{1325,1},{164,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_2/explosion_2_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{184,142}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{381,105},{184,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_2/explosion_2_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{191,105},{188,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_3/explosion_3_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1895,135},{110,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bullet/explosion_3/explosion_3_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{140,132}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1845,1},{140,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_3/explosion_3_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{156,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{733,105},{156,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_3/explosion_3_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{164,158}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{567,105},{164,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_3/explosion_3_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{184,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1139,1},{184,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet/explosion_3/explosion_3_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{188,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,105},{188,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_for_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1542,191},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>debug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,78}</string>
                <key>textureRect</key>
                <string>{{1491,1},{200,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iPhone5BottomPanel.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,102}</string>
                <key>spriteSourceSize</key>
                <string>{1136,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{1136,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_0-xhdpi.png</string>
            <key>size</key>
            <string>{2002,277}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb95d6f87257e8edad2288383c6130b2:cb162ea8e3f52a2030dbdab9823e4e85:2d44a38c527abb72b9e3748953fe2e91$</string>
            <key>textureFileName</key>
            <string>asset_0-xhdpi.png</string>
        </dict>
    </dict>
</plist>
