<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>numericKeyboard/0_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{245,1},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/0_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{245,54},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/1_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{245,107},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/1_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{245,160},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/2_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{1,208},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/2_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{58,208},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/3_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{115,208},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/3_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{172,208},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/4_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{229,213},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/4_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{1,261},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/5_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{58,261},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/5_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{115,261},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/6_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{172,261},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/6_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{229,266},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/7_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{1,314},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numericKeyboard/7_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{54,314},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/8_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{111,314},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/8_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{168,314},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/9_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{225,319},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/9_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{54,367},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numericKeyboard/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,242}</string>
                <key>spriteSourceSize</key>
                <string>{205,242}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numericKeyboard/clear_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{1,371},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numericKeyboard/clear_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{107,367},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/clear_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{164,367},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/ok_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{221,372},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/ok_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{107,420},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numericKeyboard/ok_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{54,424},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numericKeyboard/zh_cn/ok_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{1,428},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numericKeyboard/zh_cn/ok_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{160,420},{55,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numericKeyboard/zh_cn/ok_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{217,425},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_12-ldpi.png</string>
            <key>size</key>
            <string>{301,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25cc0f904dce05d5b958db4b63fe0d4e:74847e91c92938aa38ca9a2b117934cf:5bd780f8d5d20c57902fd36c65d9696e$</string>
            <key>textureFileName</key>
            <string>asset_12-ldpi.png</string>
        </dict>
    </dict>
</plist>
