<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish/fish_bonus_19/cow_shooted_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{218,207}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{633,223},{218,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{220,207}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{628,1117},{220,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{220,207}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{424,1},{220,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{222,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{212,449},{222,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{224,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1,229},{224,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{224,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1,455},{224,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{226,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{224,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1,681},{224,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{224,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1,907},{224,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{222,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{212,673},{222,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{220,207}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{424,223},{220,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_bonus_19/cow_shooted_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{220,207}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{626,445},{220,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{222,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{212,1},{222,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{222,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{212,225},{222,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{222,212}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1,1133},{222,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{220,212}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{423,673},{220,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{216,212}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{844,663},{216,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{214,212}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1462,420},{214,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{208,210}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1042,881},{208,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{198,208}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1011,1333},{198,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{225,1345},{186,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{184,202}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1683,1},{184,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{184,198}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1683,205},{184,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{186,194}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{431,1345},{186,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{186,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1252,1027},{186,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1677,713},{190,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,11}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1221,1333},{190,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{192,186}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{627,1345},{192,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{192,186}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1257,651},{192,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{192,186}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1058,659},{192,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{192,186}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1252,839},{192,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1411,1333},{190,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{188,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1662,903},{188,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{188,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{821,1339},{188,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,9}</string>
                <key>spriteSize</key>
                <string>{190,194}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1678,517},{190,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{202,198}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1262,219},{202,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{210,202}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1257,439},{210,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{216,206}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{1465,212},{216,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{220,208}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{625,895},{220,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{222,208}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{212,897},{222,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_18/18_elephant_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{222,208}</string>
                <key>spriteSourceSize</key>
                <string>{300,256}</string>
                <key>textureRect</key>
                <string>{{215,1121},{222,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{222,201}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{422,897},{222,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{222,201}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{425,1121},{222,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{220,203}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{837,1111},{220,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{220,205}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{637,667},{220,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{218,207}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{838,1},{218,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{218,207}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{835,443},{218,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{216,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1051,221},{216,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{214,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1592,1093},{214,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{214,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1601,1309},{214,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{216,211}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1044,441},{216,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{214,211}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1461,634},{214,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_19/19_cow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{214,211}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1446,847},{214,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_19/19_cow_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{216,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1254,1},{216,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{216,209}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1465,1},{216,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish/fish_idle_19/19_cow_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{218,207}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{842,221},{218,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{218,205}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{1047,1},{218,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{220,205}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{835,889},{220,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{220,203}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{633,1},{220,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/fish_idle_19/19_cow_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{222,201}</string>
                <key>spriteSourceSize</key>
                <string>{232,221}</string>
                <key>textureRect</key>
                <string>{{423,449},{222,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1357},{116,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{113,1357},{116,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1042,1215},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1152,1215},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1042,1093},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1262,1215},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1372,1215},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1446,1093},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1482,1211},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish/mine_idle/21_pumpkin_bomb_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1683,405},{116,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_3-xhdpi.png</string>
            <key>size</key>
            <string>{1869,1532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bd8bdc3b6054b711858cd445d52b624:f4c8dc2a4cf12bdd116b7758d73c4ccc:eeab8125171e70aae73968bd4bbce690$</string>
            <key>textureFileName</key>
            <string>asset_3-xhdpi.png</string>
        </dict>
    </dict>
</plist>
