<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_idle_20/20_dragon_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{562,414}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1,1},{562,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,33}</string>
                <key>spriteSize</key>
                <string>{578,490}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{565,1},{578,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish_idle_20/20_dragon_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,42}</string>
                <key>spriteSize</key>
                <string>{490,510}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{1145,1},{490,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asset_4_1-xhdpi.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1593fdcf73906e562dc4f218b1496cb8:d0ce15d317b762a93c8ad993d78cdfc1:b787f98143b1e2cf9f0fd981db7ed9eb$</string>
            <key>textureFileName</key>
            <string>asset_4_1-xhdpi.png</string>
        </dict>
    </dict>
</plist>
