<div class="utils_center_text paytable-content" >
    <div class="header paytable-header">{{HEADER}}</div>
    <div class="paytable-page">
        <div>
            <div class="feature-symbol paytable-feature-symbol">
                <img src="{{IMAGE}}" class="SYM-image"/>
            </div>
        </div>
        <div class="paytable-feature-body">
            {{#BODY}}
                <div class="paytable-text">{{.}}</div>
            {{/BODY}}
        </div>
    </div>
</div>
