<ul id="paytableNavigationindicators" class="interface-cardNavigation_indicators clearfix utils_horizontal_center trim">
    {{#.}}
        <!--ATTENTION : 'clickOnPage' class activate click event and clickIndex is an argument for switch function-->
        <li clickIndex="{{index}}" class="clickOnPage interface-cardNavigation_indicator interface-cardNavigation_{{#active}}selectedIndicator{{/active}}"></li>
    {{/.}}
</ul>