<ul id="paytableNavigation_arrows" class="interface-cardNavigation_arrows clearfix trim">
    <li id="paytablePrevious" class="clickPrev interface-cardNavigation_arrows_previous"></li>
    <li id="paytableNext" class="clickNext interface-cardNavigation_arrows_next"></li>
</ul>