<div class="paytable-bottom-text paytable-page">
    {{#BODY}}
        <span class="line-item">
            <span class="bullet-element"></span>
            <span>{{.}}</span>
        </span>
    {{/BODY}}
</div>
